.page {
  position: relative;
  height: 100vh;
}

.pageBackground {
  background-image: url("/questForKids.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
      circle,
      var(--violet-a9) 0%,
      var(--violet-a7) 50%,
      var(--violet-a5) 100%
    );
    opacity: 0.4;
  }
}
