.mainLayout {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 1fr 5fr;
  gap: 1.5rem;
}
.container {
  grid-area: main;
  order: 1;
  padding: 1.5rem 1.5rem 1.5rem 0;
}
