.header {
  border-bottom: 1px solid var(--gray-a5);
  background-color: var(--bg-header);
  position: sticky;
  height: var(--header-height);
  top: 0;
  z-index: 2;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
